In [14]:
import json, requests, pandas as pd

In [2]:
def get_token() -> str:
    """
    Get a THE TOKEN FROM local storage
    Args:
        None
    """
    with open(".token") as t:
        tok = t.readline()
    return tok.strip()

In [3]:
HEADER = {
        #'Content-Type': 'text/csv',
        "Authorization" : get_token()
    }

In [4]:
dataset = 'era5_land_wind_u-hourly'

In [5]:
lat, long = '25.762329613614614', '-80.19114735100034'

In [6]:
query = ["https://api.dclimate.net/apiv3/grid-history/"
                + dataset + "/"
                + lat + "_" + long +"?"
                + "also_return_metadata=false&"
                + "use_imperial_units=true&"
                + "also_return_snapped_coordinates=true&"
                + "convert_to_local_time=true"]

In [7]:
r = requests.get(query[0], headers=HEADER)

In [34]:
row_data = r.json()["data"]

In [74]:
raws = []

In [97]:
for data in row_data:
    #raws[data] = row_data[data].split(" ")[0]
    raws.append( { "data" : data, "value" : row_data[data].split(" ")[0] } )

In [98]:
df = pd.DataFrame(raws)

In [99]:
df

                              data                       value
0        1989-12-31 19:00:00-05:00   -3.086972083035075 mi / h
1        1989-12-31 20:00:00-05:00   -2.751431639226915 mi / h
2        1989-12-31 21:00:00-05:00   -2.661954187544739 mi / h
3        1989-12-31 22:00:00-05:00   -2.751431639226915 mi / h
4        1989-12-31 23:00:00-05:00  -2.6843235504652827 mi / h
...                            ...                         ...
1943083  2021-08-31 15:00:00-04:00                          mi
1943084  2021-08-31 16:00:00-04:00                          mi
1943085  2021-08-31 17:00:00-04:00                          mi
1943086  2021-08-31 18:00:00-04:00                          mi
1943087  2021-08-31 19:00:00-04:00                          mi

[1943088 rows x 2 columns]

In [95]:
df.to_csv("json/"+dataset+dataset+"-"+lat+"_"+long+".csv")